<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Games</title>
</head>
<body>
    <h1>Todos os jogos</h1>
    <table>
        <tr>
            <th>Nome</th>
            <th>Plataform</th>
            <th>Preço</th>
            <th>Quantidade</th>
        </tr>
        {% for game in games %}
        <tr>
            <td>{{ game.name }}</td>
            <td>{{ game.platform }}</td>
            <td>{{ game.price }}</td>
            <td>{{ game.amount }}</td>
        </tr>
        {% endfor %}
    </table>
    
    <h1>Adicione novos jogos</h1>
    <form action="/new_game" method="POST">
        <input type="text" name="name" placeholder="Nome">
        <input type="text" name="platform" placeholder="Plataforma">
        <input type="text" name="price" placeholder="Preço">
        <input type="text" name="amount" placeholder="Quantidade">
        <button type="submit">Salvar</button>
    </form>
</body>
</html>